<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Bookings</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	<script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E4F0AF">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">User's Bookings</a>
	<div class="row">
		<div class="col-8">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ">
					<a class="nav-item btn btn-success mx-2" href="#">Profile</a>
					<a class="nav-item btn btn-success mx-2" href="{{ url_for('views.user_dashboard') }}">Dashboard</a>
					<a class="nav-item btn btn-success mx-2" href="{{ url_for('auth.logout') }}">Logout</a>
				</ul>
			</div>
		</div>
	</div>
  </div>
</nav>
<div class="container-fluid">
	<div class="row justify-content-center">
		{% for show_booking in show_bookings %}
		{% if current_user['id']==show_booking['user_id'] %}
		{% for show_venue in show_venues %}
		{% for show in shows %}
		{% if show_venue['show_id']==show['show_id'] %}
			<div class="card col-2 m-4 p-0">
				<div class="card-header" style="background-color: #D6ECA4"><p class="card-text">{{ show["show_name"] }}</p></div>
				<div class="card-body">
					<div class="container">
						<div class="row">
							<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#{{ show['show_id'] }}show_rating">Rate</button>
						</div>
					</div>
				</div>
			</div>
			<!--Rate Show Modal-->
			<div class="modal fade" id="{{ show['show_id'] }}show_rating" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-md">
					<div class="modal-content">
						<div class="modal-header" style="background-color: #D6ECA4">
							<h1 class="modal-title fs-5" id="staticBackdropLabel">Rate {{ show['show_name'] }}</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form action="/create/rating/{{ show['show_id'] }}" method="POST">
							<div class="modal-body">
								<div class="row justify-content-center">
									<div class="col-2 form-check">
										<input type="radio" class="form-check-input" id="1"></input>
										<label for="1" class="form-check-label">1</label>
									</div>
									<div class="col-2 form-check">
										<input type="radio" class="form-check-input" id="2"></input>
										<label for="2" class="form-check-label">2</label>
									</div>
									<div class="col-2 form-check">
										<input type="radio" class="form-check-input" id="3"></input>
										<label for="3" class="form-check-label">3</label>
									</div>
									<div class="col-2 form-check">
										<input type="radio" class="form-check-input" id="4"></input>
										<label for="4" class="form-check-label">4</label>
									</div>
									<div class="col-2 form-check">
										<input type="radio" class="form-check-input" id="5"></input>
										<label for="5" class="form-check-label">5</label>
									</div>
								</div>
							</div>
						</form>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
							<button class="btn btn-success" type="submit">Submit Rating</button>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}
			{% endif %}
			{% endfor %}
	</div>
</div>
</body>
</html>
